@import "tailwindcss";


@font-face {
  font-family: "Clash Display";
  src: url("/fonts/OTF/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 700;
}
body {
  font-family: "Clash Display", sans-serif;
}